body {
    background-color: rgb(106, 114, 89);

    
}

/* Header styling*/
.jumbotron {
    height: 800px;
    margin-top: 0px;
    background-image: url(../images/hero-image.png);
    background-size: 100% 800px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "display-4 nav"
    ;
}

.nav {
    grid-area: "nav";

}

.nav-link {
    color: white;
    font-size: larger;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(86, 209, 61, 0.24), 0 17px 50px 0 rgba(49, 253, 8, 0.767);
    background: transparent;
    border: 3px solid greenyellow;
    color: transparent;
}

.cardTitleCategory{
 display: grid;
  margin-bottom: 60px;
justify-content: center;
color: bisque;
font-size: 38px;
}

.display-4 {
    grid-area: display-4;
    margin-top: 0%;
    align-self: flex-start;
}

#aboutMe{
   margin-top: 40px;
}

.cardContainer {
display: grid;
justify-items: center;
}

.card{
    width: 70% !important;
    margin-bottom: 5%;
   }

.card:hover{
 
    box-shadow: 0 12px 16px 0 rgba(86, 209, 61, 0.24), 0 17px 50px 0 rgba(106, 199, 88, 0.767);
}

#mySkills {
    margin-left: 15%;
}
.topCard{

    margin-left: 15%;
    margin-bottom: 150px !important;
    background-color: rgb(209, 186, 159);
    
}

#html{
    color: purple;
}

.card-body{
    background-color: rgb(173, 148, 114);
}
.card-header{
    background-color: rgb(230, 210, 184);
    font-size: 24px;
    color: rgb(127, 171, 209);
}
#myWork h5,p{
    color: rgb(90, 106, 131);
}


.footer{
    width: 100%;
justify-content: space-around;
    display: grid;
    grid-template-columns: 1fr 100px 100px 100px 200px 1fr 100px ;
    grid-template-rows: 1fr;
    grid-template-areas: "contactMe btn-outline-primary btn-outline-success btn-outline-secondary btn-outline-warning       none     btn-outline-info";
}

.footer button{
    margin-left: 10px;
    background-color: rgb(152, 170, 112);
}
#contactMe {
    grid-area: contactMe;
}

.btn-outline-primary {
    grid-area: btn-outline-primary;
}

.btn-outline-success {
    grid-area: btn-outline-success;
}

.btn-outline-secondary{
    grid-area: btn-outline-secondary;
}

.btn-outline-warning{
    grid-area: btn-outline-warning;
}

.btn-outline-info{
    grid-area: btn-outline-info;
}